.image-gallery {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .image-gallery img {
    max-width: 450px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }