img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
}
.btn {
    background-color: orange;
    color: white;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
    width: 100%;
}
.btn:hover {
    background-color: white;
    color: orange !important;
    border: 2px solid orange;
}
img:hover {
    scale: 1.05;
}
