/* 
color: #00308F;
color: #0000FF;
background-color: #002244;
    color: #F0F8FF;
*/
.logo {
    color: #00308F;
    font-size: 24px;
    font-weight: 500;
}
.links {
    color: #0000FF !important;
}
.submit-btn{
    transition: all 0.3s ease;
    border-radius: 10px;
    padding: 10px 20px;
}

.submit-btn:hover {
    background-color: #00308F;
    color: #F0F8FF !important;
}